<div class="details">
    <div class="items">
        <div class = "head"> Profitability Index</div>  
        <span>  {{stockdetails.portfoliodetails.mean}}    </span>
 

    </div>
    <div class="items">
        <div class = "head"> Final Index</div>  
        <span>  {{stockdetails.portfoliodetails.finalindex}}     </span>

    </div>
    <div class="items">
        <div class = "head"> Volatility Index</div>  
        <span>     {{stockdetails.portfoliodetails.deviation}} </span>
  

    </div>
    <div class="items">
        <div class = "head"> CAGR</div>  
     
        <span>  {{stockdetails.portfoliodetails.cagr}}  </span>
  
    </div>
    
    
</div> 